Repository nextcloud/notes, pull requests merged in 2022-08, with the labels that each got.

#878 Update table style
  src/components/EditorMarkdownIt.vue
Labels: design, feature: Markdown-it

#890 auto create notes folder only if app is opened
  lib/Controller/Helper.php
  lib/Controller/NotesController.php
  lib/Service/NoteUtil.php
  lib/Service/NotesService.php
  lib/Service/SettingsService.php
Labels: feature: backend

#891 rename settings to Notes settings
  src/components/AppSettings.vue
Labels: feature: app navigation

#898 fix minor API version
  docs/api/v1.md
  lib/AppInfo/Application.php
  tests/api/APIv1Test.php
Labels: bug, feature: API
